.contacto {
    width: 50vw;
    background: #fff;
    border-radius: var(--border-radius);
    margin: 20px auto;
    margin-bottom: 20px;
    display: flex;
    flex-wrap: wrap;
    padding: 10px 20px;
    justify-content: center;
  }
  .form {
    justify-content: center;
  }
  .contacto form {
    float: right;
    display: block;
    overflow: hidden;
    color: var(--color-negro);
  }
  .contacto .form h2{
    display: inline-block;
  }
  #cursor {
    margin: 0;
    padding: 0;
    position: absolute;
    display: inline-block;
  }
  .form form .error{
    background: none;
    color: var(--color-rojo);
  }
  .contacto form label {
    color: var(--color-amarillo);
  }
  .contacto form input,
  textarea {
    width: 100%;
    resize: none;
    padding: 10px;
    margin: 10px auto;
  }
  .contacto button {
    cursor: pointer;
    color: var(--color-negro);
    border-radius: 25px;
    padding: 10px 15px;
    background: var(--color-amarillo);
    border: none;
  }
  @media (max-width: 900px){
    .contacto{
      width: 80vw;
    }
  }
  @media (max-width: 450px){
    .contacto{
      width: 90vw;
    }
  }
