.login {
    width: 50vw;
    background: #fff;
    border-radius: var(--border-radius);
    margin: 20px auto;
    margin-bottom: 20px;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    padding: 20px;
    justify-content: center;
    margin: 20px auto;
  }
  .login .form {
    float: right;
    display: block;
    color: var(--color-negro);
    margin: auto;
  }
  .login .form form> *{
      margin: 10px 0;
  }
  .remember #remember{
      display: inline;
      width: fit-content;
  }
  .remember label{
      display: inline;
      width: fit-content;
  }
  .form form .error{
    background: none;
    color: var(--color-rojo);
  }
  .login form label {
    color: var(--color-amarillo);
  }
  .login form input,
  textarea {
    width: 100%;
    resize: none;
    padding: 10px;
    margin: 10px auto;
  }
  .login button {
    cursor: pointer;
    color: var(--color-negro);
    border-radius: 25px;
    padding: 10px 15px;
    background: var(--color-amarillo);
    border: none;
  }
  @media (max-width: 900px){
    .login{
      width: 80vw;
    }
  }
  @media (max-width: 450px){
    .login{
      width: 90vw;
    }
  }
